<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${message}">Title</title>


    <link rel="stylesheet" href="/css/common/index.css">

</head>
<body>
<div class="content-wrapper">
    <header></header>

    <div class="container">
        <main class="container_body">
            <div class="first-box">
                <div class="box-body">
                    <div class="box-header" th:text="${message}">Каталог №1</div>
                </div>
            </div>

                <div class="tenor-gif-embed" data-postid="18912404" data-share-method="host" data-aspect-ratio="1.3617" data-width="100%">
                <a href="https://tenor.com/view/gachi-billy-herington-smoke-cigarette-gif-18912404">Gachi Billy Herington GIF</a>from
                <a href="https://tenor.com/search/gachi-gifs">Gachi GIFs</a>
            </div>

        </main>

    </div>
    <footer></footer>
</div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>