<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${catalog.title}">Каталог №1</title>

    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="https://demo.plantpot.works/assets/css/normalize.css"
    /> -->
    <!-- <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css" /> -->
    <link
      rel="stylesheet"
      href="/css/common/font-awesome-4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/catalogs/id.css" />
    <link rel="stylesheet" href="/css/common/dropmenu.css" />
  </head>
  <body>
    <div class="content-wrapper">
      <header></header>

      <div class="container">
        <main class="container_body">
          <div class="first-box">
            <div class="box-body">
              <div class="box-header" th:text="${catalog.title}">Каталог №1</div>

              <div class="details">
                <div class="details-table">
                  <a class="button update" th:href="@{/{catalogId}/edit(catalogId=${catalog.id})}"
                    ><i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a class="button delete" th:href="@{/catalogs/{catalogId}(catalogId=${catalog.id})}"
                    ><i class="fa fa-times" aria-hidden="true"></i>
                  </a>
                </div>

                <div class="box" aria-haspopup="false">
                  <button id="btn-dropdown" class="btn-dropdown">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </button>
                  <nav id="nav-dropdown" class="nav-dropdown">
                    <ul>
                      <li><a href="#newCatalog">Додати новий каталог</a></li>
                      <li><a href="#newCard">Додати нову картку</a></li>
                      <div class="buttons">
                        <li>
                          <a class="update" th:href="@{/{catalogId}/edit(catalogId=${catalog.id})}">Оновити каталог</a>
                        </li>
                        <li><a class="delete" th:href="@{/catalogs/{catalogId}(catalogId=${catalog.id})}">Видалити каталог</a></li>
                      </div>
                      <!-- <li><a href="#">Menu 3</a></li>
                    <li><a href="#">Menu 4</a></li>
                    <li><a href="#">Menu 5</a></li> -->
                    </ul>
                  </nav>
                </div>
              </div>
            </div>

            <div class="catalog-descr" th:text="${catalog.description}"></div>
          </div>

          <div id="id">
            <div class="catalog" th:each="subCatalog : ${subCatalogs}">
              <div class="catalog-body">
                <div class="empty item">
                </div>
                <div class="item">
                  <div class="catalog-name">
                    <a th:href="@{/{subCatalogId}(subCatalogId=${subCatalog.id})}" th:text="${subCatalog.title}">
                      Title
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="details-table">
                    <a class="button update" th:href="@{/{subCatalogId}/edit(subCatalogId=${subCatalog.id})}"
                      ><i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="button delete" th:href="@{/catalogs/{subCatalogId}/delete(subCatalogId=${subCatalog.id})}" th:attr="data-catalog-id=${subCatalog.getId()}">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="links box" aria-haspopup="false">
                    <button class="btn-dropdown">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <nav class="nav-dropdown">
                      <ul>
                        <li>
                          <a th:href="@{/{subCatalogId}/edit(subCatalogId=${subCatalog.id})}">Змінити каталог</a>
                        </li>
                        <li>
                          <a class="delete" th:href="@{/catalogs/{subCatalogId}/delete(subCatalogId=${subCatalog.id})}" th:attr="data-catalog-id=${subCatalog.getId()}"
                          >Видалити каталог</a>
                        </li>
                        <!-- <li><a href="#">Menu 3</a></li>
                      <li><a href="#">Menu 4</a></li>
                      <li><a href="#">Menu 5</a></li> -->
                      </ul>
                    </nav>
                  </div>
                </div>
                </div>
            </div>


            <div class="card" th:each="card : ${cards}">
              <div class="card-body">
                <div class="empty item"></div>
                <div class="item">
                  <div class="card-name">
                    <p th:text="${card.title}">
                      Title
                    </p>
                  </div>
                </div>
                <div class="item">
                  <div class="details-table">
                    <a class="button update" th:href="@{/card/{cardId}(cardId=${card.id})}"
                      ><i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="button delete" th:href="@{/cards/{cardId}(cardId=${card.id}) } "
                      ><i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="links box" aria-haspopup="false">
                    <button class="btn-dropdown">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <nav class="nav-dropdown">
                      <ul>
                        <li>
                          <a th:href="@{/card/{cardId}(cardId=${card.id})}">Змінити картку</a>
                        </li>
                        <li>
                          <a class="delete" th:href="@{/cards/{cardId}(cardId=${card.id})}"
                          >Видалити картку</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                </div>

            </div>
          </div>
          <div class="last-box"></div>

        </main>

        <div th:replace="~{fragments/catalogPopoup :: catalogPopoup}"></div>
        <div th:replace="~{fragments/cardPopoup :: cardPopoup}"></div>

      </div>

      <footer></footer>
    </div>

    <script src="/js/catalogs/dropmenu.js"></script>
    <script src="/js/common/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  </body>
</html>
